*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: white; */
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffd;
    position: absolute;
    mix-blend-mode: difference;
}
h1{
    color: white ;
    font-size: 8vw;
    font-weight: 700;
}